Repository babiabeo/uuid-v7, changes with the labels that .github/labeler.yml gives for each.
All labels: generator, validator, test, uuid, workflow

.github/labeler.yml:

generator:
  - changed-files:
    - any-glob-to-any-file: "src/generate.ts"

validator:
  - changed-files:
    - any-glob-to-any-file: "src/validate.ts"

test:
  - changed-files:
    - any-glob-to-any-file: "src/uuid_test.ts"

uuid:
  - changed-files:
    - any-glob-to-any-file: "**/*.ts"

workflow:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/*

chore(uuid): release version 0.1.1
  deno.json
Labels: none

chore(uuid): release version 0.1.1 (#4)
  deno.json
Labels: none

refactor(generate): make generator more secure
  .github/workflows/title.yml
  src/generate.ts
Labels: generator, uuid, workflow

refactor(generate): make generator more unguessable (#5)
  .github/workflows/title.yml
  src/generate.ts
Labels: generator, uuid, workflow

fix(generate): fix incorrect rollover handling
  src/generate.ts
Labels: generator, uuid

fix(generate): fix incorrect rollover handling (#6)
  src/generate.ts
Labels: generator, uuid

release(uuid): version 0.2.0
  deno.json
Labels: none

release(uuid): version 0.2.0 (#7)
  deno.json
Labels: none

docs: add note about @std/uuid
  README.md
Labels: none

chore(ci): add `jsr:` when installing package from deno
  .github/workflows/ci.yml
Labels: workflow

tweak
  .github/workflows/ci.yml
Labels: workflow

tweak
  package.json
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: workflow

Delete package.json
  package.json
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: workflow

chore(ci): update installation (#8)
  .github/workflows/ci.yml
  package.json
Labels: workflow

feat: add generator for normal uuid v7 (no monotonicity)
  .gitignore
  LICENSE
  README.md
  deno.json
  mod.ts
  src/_utils.ts
  src/default.ts
  src/default_test.ts
  src/monotonic.ts
  src/monotonic_test.ts
  src/uuid_test.ts
  src/validate_test.ts
Labels: test, uuid
